<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../parts/head %>
</head>
<body class="container">

    <header>
        <% include ../parts/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h5>Todos Number</h5>
            <span class="badge badge-info"><%= results %></span>
        </div>
    </main>

    <footer>
        <% include ../parts/footer %>
    </footer>
    
</body>
</html>