<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../parts/head %>
</head>
<body class="container">

    <header>
        <% include ../parts/header %>
    </header>

    <main>
        <p>Your update has been sent</p>
    </main>

    <footer>
        <% include ../parts/footer %>
    </footer>
    
</body>
</html>