<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/count">Count</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/done">Done</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/notdone">Not done</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/recent">Recent</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/last">Last modified</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/db">database</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/insert">Insert</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/update">Update</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/delete">Delete</a>
  </li>
</ul>