<form id="add_list_form" action="/add_list" method="POST">
  <input type="text" name="add_list_input" placeholder="Add List" />
  <input type="datetime-local" name="add_list_reminder" id="timepicker" />
  <input class="submit-button" type="submit" value="Submit" />
  <input class="reset-button" type="reset" />
</form>
