<form id="add_user_form" action="/add_user" method="POST">
  <input type="text" name="add_user_name" placeholder="Add User Name" />
  <input type="email" name="add_user_email" placeholder="Add Email" />
  <input type="password" name="add_user_password" placeholder="Add Password" />
  <input class="submit-button" type="submit" value="Submit" />
  <input class="reset-button" type="reset" />
</form>
