<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background-color: chartreuse;
    }

    a {
      text-decoration: none;
      box-sizing: border-box;
      padding: 10px 0;
      border: 1px solid;
      color: white;
      width: 100px;
      padding: 20px;
      bottom: 20px;
      position: fixed;
      background-color: chocolate;
    }

    a:hover {
      box-shadow: 3px 3px 3px black;
    }

    p {
      padding-top: 20px;
    }
  </style>
</head>

<body>
  <a href="./Home">Home</a>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio est ab iure, quasi possimus explicabo laudantium sed
    maxime autem? Ducimus mollitia quis delectus architecto et assumenda nihil vel obcaecati sequi.</p>
</body>

</html>