<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Todo App Home Page</title>
  <style>
    body {
      background-color: darkolivegreen;
      text-align: center;
      color: white;
    }

    a {
      text-decoration: none;
      box-sizing: border-box;
      padding: 10px 0;
      border: 1px solid;
      color: white;
    }

    a:hover {
      box-shadow: 3px 3px 3px black;
    }

    h1 {
      width: 100%;
    }

    div {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  </style>
</head>

<body>
  <div>
    <a href="./login">Log In</a>
    <a href="./Signup">Sign Up</a>
    <a href="./About">ِAbout</a>
  </div>

  <h1>Welcome to my first Todo App Page</h1>

  <h1>Time management is life management!
    <hr> So guard your time with great care!</h1>
</body>

</html>