<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    body {
      background-color: brown;
      color: white;
    }

    form {
      width: 60%;
      margin: auto;
      box-shadow: 50px 50px 50px black;
      display: grid;
      text-align: center;
    }

    input {
      padding: 30px;
    }
  </style>
</head>

<body>
  <form action="/login/user" method="GET">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="user">
  </form>
  <p><%= error %></p>
  <% include button.ejs %>

</body>

</html>