doctype html
html
  head
    title = title
    style.
      body{
        background-image: url("/images/image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: sans-serif;
        text-align: center;
      }
      h1{
        font-size:2em;
        color:white;
      }

      span{
        text-align:center;
        color:white;
      }
  body
    h1= message 
    span  
      a(href='/')= prevPage
