<!DOCTYPE html>
html(lang = "en")
head
    meta(charset = "UTF-8")
    style
      include ../html/style.css
    title #{title}
body
    block content
footer#footer
  p Copyright &copy; hack your future!!